$primary: #35524A;
$primary2: #627C85;
$secondary: #779CAB;
$secondary2: #77e8dd;
$secondary3: #00ffd5;
$tertiary: #32DE8A;
$tertiary2: #00ff82;

a {
  color: $secondary !important;
}

@import "~bootstrap/scss/bootstrap";
